@charset "UTF-8";
@mixin border-radius($x) {
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    -ms-border-radius: $x;
    -o-border-radius: $x;
    border-radius: $x;
}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }
// examples
// @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.10)); <-- no inset
// @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.10), inset); <-- with inset
@import "nav.scss";
body {
    color: #333;
}
@font-face {
    font-family: 'helvetica_thin';
    src: url('../fonts/helveticaneuethin-webfont.eot');
    src: url('../fonts/helveticaneuethin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuethin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuethin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuethin-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuethin-webfont.svg#helvetica_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;
}
.modal-content {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
button {
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
}
.step_number {
    color: #fff;
    font-size: 22px;
    @include border-radius(50%);
    background-color: #8dc63f;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
h1 {
    font-size: 43px;
    margin: 0px 0 20px 0;
    font-family: 'helvetica_thin', helvetica, arial, sans-serif;
    color: #666c6f;
    font-weight: normal;
}
h3 {
    font-size: 24px;
    margin: 0px 0 20px 0;
    font-family: 'helvetica_thin', helvetica, arial, sans-serif;
    color: #444444;
    font-weight: normal;
}

p {
    font-family: arial, sans-serif;
    color: #444444;
    font-size: 14px;
    line-height: 1.5;
    margin: 0px 0 20px 0;
}
.center {
    text-align: center;
}
.stepOneWrapper h3 {
    margin: 30px 0 20px 0;
    line-height: 32px;
}
.subNumberStep {
    margin-left: 45px;
}
input[type="radio"] {
    display: none;
    & + label {
        display: block;
        position: relative;
        height: 15px;
        line-height: 14px;
        padding-left: 24px;
        margin-bottom: 10px;
        cursor: pointer;
        color: #444444;
        background-size: 14px 29px;
        background-repeat: no-repeat;
        background-position: 0 1px;
        background-image: url(../img/radio-2.svg);
    }
    &:checked + label {
        background-position: 0 -15px;
    }
}
input[type="checkbox"] {
    display: none;
    & + label {
        display: block;
        position: relative;
        height: 15px;
        line-height: 14px;
        padding-left: 24px;
        margin-bottom: 10px;
        cursor: pointer;
        color: #444444;
        background-size: 14px 29px;
        background-repeat: no-repeat;
        background-position: 0 1px;
        background-image: url(../img/checkbox-2.svg);
    }
    &:checked + label {
        background-position: 0 -15px;
    }
    .toggleSwitches & + label {
        display: block;
        position: relative;
        height: 26px;
        line-height: 26px;
        padding-left: 65px;
        margin-bottom: 13px;
        cursor: pointer;
        color: #444444;
        background-size: 55px 56px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url(../img/on-off-switch.svg);
    }
    .toggleSwitches &:checked + label {
        background-position: 0 -30px;
    }
}
label {
    color: #444444;
    font-weight: normal;
    font-size: 16px;
}
.btn-primaryAction {
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 16px;
    font-family: 'brandon', arial, sans-serif;
    background: #21A800;
    @include border-radius(6px);
    border: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-variant: normal;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.btn-primaryAction:hover {
    background: #1C8F00;
    color: #FFFFFF;
    text-decoration: none;
}
.btn-primaryAction:active {
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.btn-Regular {
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #333;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-Regular:hover {
    border-color: #8430a6;
    color: #8430a6;
    text-decoration: none;
}
.btn-Regular.active, .btn-Regular.active:focus, .btn-Regular:active, .btn-Regular:focus {
    background: #8430a6;
    color: #FFFFFF;
    border-color: #45296c;
}
.btn-link {
    color: #8430A6;
    border: none;
}
.table .btn-link {
    padding: 0 10px 0 0;
}
.btn-link:hover, .btn-link.active, .btn-link:active, .btn-link.active:focus {
    color: #8430A6;
    background: transparent;
    outline: 0;
    text-decoration: none;
    outline: thin dotted \9;
    border: none;
    /* IE6-9 */
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
}
.btn-upgradePro {
    color: #ff6b0b;
    border-color: #ff6b0b;
    background-color: transparent;
    font-family: arial, sans-serif;
    margin: 0 0 4px 10px;
    font-weight: bold;
}
.btn-upgradePro:hover {
    color: #ffffff;
    background: #ff6b0b;
    font-family: arial, sans-serif;
    margin: 0 0 4px 10px;
}
.lateralSelector .btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.lateralSelector .btn:hover {
    border-color: #8430a6;
}
.lateralSelector .active, .lateralSelector .active:focus {
    background: #8430a6;
    color: #FFFFFF;
    border-color: #45296c;
}
/* Messages placeholder bg */

.sampleBg {
    margin: 0 auto;
}
/* Modals */

.resellerDemo .modal-dialog {
    width: 600px;
}
.modal-content {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 2000;
}
.modal-header {
    min-height: 16.428571429px;
    padding: 14px;
    border-bottom: none;
    background: #6F1795;
    border-radius: 4px 4px 0 0;
}
.modal-title {
    font-family: 'brandon_light', arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1;
}
.modal-footer {
    padding: 0px 20px 20px;
    margin-top: 0px;
    border-top: none;
}
.modal-footer .cancel {
    font-size: 16px;
    color: #818181;
}
.modal .close {
    /* text-shadow: 0 1px 0 #FFF; */
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.modal .close .closeCircle {
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.modal .close:hover .closeCircle {
    fill: #450E5D;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.modal-body {
    padding: 30px;
}
.modalCallBack .modal-body {
    padding-bottom: 10px;
}
.modal-body p, .modal .media-body p {
    color: #444444;
    font-size: 22px;
}
.modal .media-body .subInfo {
    color: #818181;
    font-size: 16px;
}
.modal .modal-body h4, .modal .modal-footer h4 {
    font-family: 'roboto-meduim', arial, sans-serif;
    color: #444444;
    font-size: 18px;
}
.modal .media-heading {
    font-family: 'roboto', arial, sans-serif;
    color: #6F1795;
    font-size: 27px;
}
/* Success Messaging */

.successMessage {
    width: 475px;
    margin: 40px auto 0;
}
.successMessage h1 {
    font-family: 'helvetica_thin', helvetica, arial, sans-serif;
    font-size: 40px;
    margin: 0 0 30px 0;
}
.successMessage h1 .type {
    color: #818181;
}
.successMessage h1 .success {
    color: #3FAE29;
}
.successMessage h1 .icon-check2 {
    font-size: 43px;
    position: relative;
    top: 5px;
}
.successMessage p {
    font-family: 'tisa';
    font-size: 18px;
    color: #333333;
}
.successMessage p .time {
    color: #6F1795;
}
/* Boostrap Select - custom select dropdown styling */

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin: 10px 0;
}
.bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus, .bootstrap-select .btn-default:active, .bootstrap-select .btn-default.active, .bootstrap-select .open .dropdown-toggle.btn-default {
    color: #8430a6;
    background-color: transparent;
    border-color: #8430a6;
}
.bootstrap-select .btn-default:hover .caret, .bootstrap-select .btn-default:focus .caret, .bootstrap-select .btn-default:active .caret, .bootstrap-select .btn-default.active .caret, .bootstrap-select .open .dropdown-toggle.btn-default .caret {
    border-top-color: #8430A6;
}
/* modal select overide */

.specialPicker .media, .specialPicker .media .media-body {
    overflow-y: visible!important;
}
.specialPicker .art {
    float: left;
    margin: 0 20px 107px
}
.specialPicker .art .icon-list {
    font-size: 67px;
    color: #808080;
}
.specialPicker .content {
    margin: 0 0 20px 0
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
    margin-top: 6.5px;
}