@charset "UTF-8";
@mixin border-radius($x) {
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    -ms-border-radius: $x;
    -o-border-radius: $x;
    border-radius: $x;
}
.navBg {
    //background-color: #8430a6;
    border-bottom: 1px solid #780384;
    margin: 0;
    // needs latest Compass, add '@import "compass"' to your scss
    //background-color: #8430a6; // Old browsers
    //@include filter-gradient(#8430a6, #9b3180, horizontal); // IE6-9 fallback on horizontal gradient
    //@include background-image(linear-gradient(left bottom,  #8430a6 0%,#9b3180 100%));
    background: #8430a6;
    background: -moz-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #8430a6), color-stop(100%, #9b3180));
    background: -webkit-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
    background: -o-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
    background: -ms-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
    background: linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
}
.navbar {
    margin: 0;
    padding: 0;
}
.navbar-default {
    color: #FFFFFF;
    background: transparent;
    border: none;
    @include border-radius(0px);
}
.navbar-default .navbar-nav > li > a {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px 10px 0 0;
    padding: 14px 20px 10px 20px;
    i {
        color: #F66FD4;
        font-size: 18px;
    }
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    border-bottom: 4px solid #ff1df4;
}
.navbar-default .navbar-nav > li > a.current {
    color: #ffffff;
    border-bottom: 4px solid #ff1df4;
    /* padding-bottom: 14px; */
}
.page-home .home,
.page-amenities .amenities,
.page-rooms .rooms,
.page-about .about,
.page-acim .acim,
.page-location .location,
.page-contact .contact,
.page-tour .tour,
.page-application .application

 {
    color: #ffffff;
    border-bottom: 4px solid #ff1df4;
}
.navbar-default .navbar-nav .upgradeNav a:hover {
    color: #3fae29;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}
