.navBg {
  border-bottom: 1px solid #780384;
  margin: 0;
  background: #8430a6;
  background: -moz-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #8430a6), color-stop(100%, #9b3180));
  background: -webkit-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
  background: -o-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
  background: -ms-linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
  background: linear-gradient(45deg, #8430a6 0%, #9b3180 100%);
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-default {
  color: #FFFFFF;
  background: transparent;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0px 10px 0 0;
  padding: 14px 20px 10px 20px;
}
.navbar-default .navbar-nav > li > a i {
  color: #F66FD4;
  font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  border-bottom: 4px solid #ff1df4;
}

.navbar-default .navbar-nav > li > a.current {
  color: #ffffff;
  border-bottom: 4px solid #ff1df4;
  /* padding-bottom: 14px; */
}

.navbar-default .navbar-nav .upgradeNav a:hover {
  color: #3fae29;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

body {
  color: #444444;
}

@font-face {
  font-family: 'helvetica_thin';
  src: url("../fonts/helveticaneuethin-webfont.eot");
  src: url("../fonts/helveticaneuethin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuethin-webfont.woff2") format("woff2"), url("../fonts/helveticaneuethin-webfont.woff") format("woff"), url("../fonts/helveticaneuethin-webfont.ttf") format("truetype"), url("../fonts/helveticaneuethin-webfont.svg#helvetica_neuethin") format("svg");
  font-weight: normal;
  font-style: normal;
}
.modal-content {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

button {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: 0 0 0px transparent;
  -moz-box-shadow: 0 0 0px transparent;
  box-shadow: 0 0 0px transparent;
}

.step_number {
  color: #fff;
  font-size: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #8dc63f;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

h1 {
  font-size: 50px;
  margin: 0px 0 20px 0;
  font-family: 'helvetica_thin', helvetica, arial, sans-serif;
  color: #00a4ff;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  margin: 0px 0 20px 0;
  font-family: 'helvetica_thin', helvetica, arial, sans-serif;
  color: #444444;
  font-weight: normal;
}

p {
  font-family: arial, sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 1.5;
  margin: 0px 0 20px 0;
}

.center {
  text-align: center;
}

.stepOneWrapper h3 {
  margin: 30px 0 20px 0;
  line-height: 32px;
}

.subNumberStep {
  margin-left: 45px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  position: relative;
  height: 15px;
  line-height: 14px;
  padding-left: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #444444;
  background-size: 14px 29px;
  background-repeat: no-repeat;
  background-position: 0 1px;
  background-image: url(../img/radio-2.svg);
}
input[type="radio"]:checked + label {
  background-position: 0 -15px;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  position: relative;
  height: 15px;
  line-height: 14px;
  padding-left: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #444444;
  background-size: 14px 29px;
  background-repeat: no-repeat;
  background-position: 0 1px;
  background-image: url(../img/checkbox-2.svg);
}
input[type="checkbox"]:checked + label {
  background-position: 0 -15px;
}
.toggleSwitches input[type="checkbox"] + label {
  display: block;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding-left: 65px;
  margin-bottom: 13px;
  cursor: pointer;
  color: #444444;
  background-size: 55px 56px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/on-off-switch.svg);
}
.toggleSwitches input[type="checkbox"]:checked + label {
  background-position: 0 -30px;
}

label {
  color: #444444;
  font-weight: normal;
  font-size: 16px;
}

.btn-primaryAction {
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 16px;
  font-family: 'brandon', arial, sans-serif;
  background: #21A800;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-variant: normal;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-primaryAction:hover {
  background: #1C8F00;
  color: #FFFFFF;
  text-decoration: none;
}

.btn-primaryAction:active {
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-Regular {
  padding: 10px;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #333;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-Regular:hover {
  border-color: #8430a6;
  color: #8430a6;
  text-decoration: none;
}

.btn-Regular.active, .btn-Regular.active:focus, .btn-Regular:active, .btn-Regular:focus {
  background: #8430a6;
  color: #FFFFFF;
  border-color: #45296c;
}

.btn-link {
  color: #8430A6;
  border: none;
}

.table .btn-link {
  padding: 0 10px 0 0;
}

.btn-link:hover, .btn-link.active, .btn-link:active, .btn-link.active:focus {
  color: #8430A6;
  background: transparent;
  outline: 0;
  text-decoration: none;
  outline: thin dotted \9;
  border: none;
  /* IE6-9 */
  -webkit-box-shadow: 0 0 0px transparent;
  -moz-box-shadow: 0 0 0px transparent;
  box-shadow: 0 0 0px transparent;
}

.btn-upgradePro {
  color: #ff6b0b;
  border-color: #ff6b0b;
  background-color: transparent;
  font-family: arial, sans-serif;
  margin: 0 0 4px 10px;
  font-weight: bold;
}

.btn-upgradePro:hover {
  color: #ffffff;
  background: #ff6b0b;
  font-family: arial, sans-serif;
  margin: 0 0 4px 10px;
}

.lateralSelector .btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 4px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.lateralSelector .btn:hover {
  border-color: #8430a6;
}

.lateralSelector .active, .lateralSelector .active:focus {
  background: #8430a6;
  color: #FFFFFF;
  border-color: #45296c;
}

/* Messages placeholder bg */
.sampleBg {
  margin: 0 auto;
}

/* Modals */
.resellerDemo .modal-dialog {
  width: 600px;
}

.modal-content {
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 2000;
}

.modal-header {
  min-height: 16.428571429px;
  padding: 14px;
  border-bottom: none;
  background: #6F1795;
  border-radius: 4px 4px 0 0;
}

.modal-title {
  font-family: 'brandon_light', arial, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1;
}

.modal-footer {
  padding: 0px 20px 20px;
  margin-top: 0px;
  border-top: none;
}

.modal-footer .cancel {
  font-size: 16px;
  color: #818181;
}

.modal .close {
  /* text-shadow: 0 1px 0 #FFF; */
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.modal .close .closeCircle {
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.modal .close:hover .closeCircle {
  fill: #450E5D;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.modal-body {
  padding: 30px;
}

.modalCallBack .modal-body {
  padding-bottom: 10px;
}

.modal-body p, .modal .media-body p {
  color: #444444;
  font-size: 22px;
}

.modal .media-body .subInfo {
  color: #818181;
  font-size: 16px;
}

.modal .modal-body h4, .modal .modal-footer h4 {
  font-family: 'roboto-meduim', arial, sans-serif;
  color: #444444;
  font-size: 18px;
}

.modal .media-heading {
  font-family: 'roboto', arial, sans-serif;
  color: #6F1795;
  font-size: 27px;
}

/* Success Messaging */
.successMessage {
  width: 475px;
  margin: 40px auto 0;
}

.successMessage h1 {
  font-family: 'helvetica_thin', helvetica, arial, sans-serif;
  font-size: 40px;
  margin: 0 0 30px 0;
}

.successMessage h1 .type {
  color: #818181;
}

.successMessage h1 .success {
  color: #3FAE29;
}

.successMessage h1 .icon-check2 {
  font-size: 43px;
  position: relative;
  top: 5px;
}

.successMessage p {
  font-family: 'tisa';
  font-size: 18px;
  color: #333333;
}

.successMessage p .time {
  color: #6F1795;
}

/* Boostrap Select - custom select dropdown styling */
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
  margin: 10px 0;
}

.bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus, .bootstrap-select .btn-default:active, .bootstrap-select .btn-default.active, .bootstrap-select .open .dropdown-toggle.btn-default {
  color: #8430a6;
  background-color: transparent;
  border-color: #8430a6;
}

.bootstrap-select .btn-default:hover .caret, .bootstrap-select .btn-default:focus .caret, .bootstrap-select .btn-default:active .caret, .bootstrap-select .btn-default.active .caret, .bootstrap-select .open .dropdown-toggle.btn-default .caret {
  border-top-color: #8430A6;
}

/* modal select overide */
.specialPicker .media, .specialPicker .media .media-body {
  overflow-y: visible !important;
}

.specialPicker .art {
  float: left;
  margin: 0 20px 107px;
}

.specialPicker .art .icon-list {
  font-size: 67px;
  color: #808080;
}

.specialPicker .content {
  margin: 0 0 20px 0;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
  margin-top: 6.5px;
}

.heroBlock {
  background-color: #CCCCCC;
  width: 100%;
  padding: 20px;
  margin: 0 0 20px 0;
  height: 263px;
  position: relative;
}
.heroBlock .logoBranding {
  display: block;
  background: url(../img/logo-color-lg.png) no-repeat top left;
  text-indent: -9999px;
  width: 404px;
  height: 109px;
  background-size: 404px 109px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.tourBlock {
  background-color: #62005a;
  width: 100%;
  padding: 20px;
  margin: 20px 0 0 0;
}
.tourBlock h3 {
  font-family: 'helvetica_thin' arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  color: #efb9ff;
}
.tourBlock .btn-primaryAction {
  background: #da2bff;
  font-size: 14px;
}
.tourBlock .btn-primaryAction:hover {
  background: #ae09d6;
}

.footer {
  width: 100%;
  padding: 40px 0 20px 0;
  background: url(../img/footer-bg.svg) repeat;
  background-size: 90px 78px;
  color: #FFFFFF;
}
.footer p {
  color: #d0b4d1;
}
.footer h5 {
  font-family: 'helvetica_thin' arial, sans-serif;
  font-size: 18px;
  color: #fa9fff;
}
.footer .majorLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .majorLinks li {
  font-family: 'helvetica_thin' arial, sans-serif;
  /* font-size: 18px;
  line-height: 24px; */
  margin: 0 0 10px 0;
  padding: 0;
  color: #e1ccff;
  position: relative;
}
.footer .majorLinks li a {
  font-size: 18px;
  line-height: 24px;
  color: #e1ccff;
}
.footer .majorLinks li a span {
  font-size: 18px;
  /* line-height: 24px; */
  position: relative;
  bottom: 4px;
  padding-left: 5px;
}
.footer .majorLinks li i {
  font-size: 24px;
  line-height: 24px;
  color: #8d839e;
}
.footer .siteLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .siteLinks li {
  font-family: 'helvetica_thin' arial, sans-serif;
  /* font-size: 18px;
  line-height: 24px; */
  margin: 0;
  padding: 0;
  color: #e1ccff;
  display: inline-block;
  width: 49%;
}
.footer .siteLinks li a {
  padding: 6px 0;
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #e1ccff;
}

.featureImg {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin: 0 auto 40px auto;
}

.media i {
  font-size: 36px;
  line-height: 36px;
}

.media-heading {
  font-size: 31px;
  line-height: 36px;
  font-family: 'helvetica_thin' arial, sans-serif;
  color: #444444;
}
