/*
Error: Undefined mixin 'border-radius'.
        on line 19 of /Users/nkovacevich/Dropbox/Design Assets/Git Projects/solr/assets/scss/nav.scss, in `border-radius'
        from line 19 of /Users/nkovacevich/Dropbox/Design Assets/Git Projects/solr/assets/scss/nav.scss

14: }
15: .navbar-default {
16:     color: #FFFFFF;
17:     background: transparent;
18:     border: none;
19:     @include border-radius(0px); 
20: }
21: .navbar-default .navbar-nav > li > a {
22:     font-family: arial, sans-serif;
23:     font-size: 16px;
24:     line-height: 16px;

Backtrace:
/Users/nkovacevich/Dropbox/Design Assets/Git Projects/solr/assets/scss/nav.scss:19:in `border-radius'
/Users/nkovacevich/Dropbox/Design Assets/Git Projects/solr/assets/scss/nav.scss:19
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:332:in `visit_mixin'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:98:in `with_mixin'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:98:in `with_mixin'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:330:in `visit_mixin'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
org/jruby/RubyArray.java:2412:in `map'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
org/jruby/RubyArray.java:2412:in `map'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/root_node.rb:20:in `render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/engine.rb:268:in `render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:136:in `call'
file:/Applications/compass.app/Contents/Java/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:329:in `watch'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.1.6/lib/listen/listener.rb:271:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.1.6/lib/listen/adapter.rb:289:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'border-radius'.\A         on line 19 of /Users/nkovacevich/Dropbox/Design Assets/Git Projects/solr/assets/scss/nav.scss, in `border-radius'\A         from line 19 of /Users/nkovacevich/Dropbox/Design Assets/Git Projects/solr/assets/scss/nav.scss\A \A 14: }\A 15: .navbar-default {\A 16:     color: #FFFFFF;\A 17:     background: transparent;\A 18:     border: none;\A 19:     @include border-radius(0px); \A 20: }\A 21: .navbar-default .navbar-nav > li > a {\A 22:     font-family: arial, sans-serif;\A 23:     font-size: 16px;\A 24:     line-height: 16px;"; }
